


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.centering{
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.img-container{
  display: inline-block;
  width: 30px;
  height: 30px;
}

.edit-img{
  max-width:100%

}

.todo-element-cont{
  margin: auto;
  display: flex;
  width: 50%;

  
}
.todo-element{
  margin: 15px;
  
}

.task-text{
  display: inline-block;
  text-align: start;
  width: 45%;
  font-size: 1.2em;
}

.task-input{
  display: flex;
  justify-content: center;
  margin-top: 50px;

}

.task-input-element{
  
}

.list-item{
  margin-left: 30%;
  text-align: start;
  margin-top: 10px;
}


